/* 
Color palette: https://colorhunt.co/palette/6096b493bfcfbdcdd6eee9da
*/

* {
    box-sizing: border-box;
}

/* Set a background color */
body {
    background-color: #6096B4;
    font-family: Helvetica, sans-serif;
}

.headerInfo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.myDescription {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-inline: auto;
    margin-block-start: 25px;
    margin-block-end: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EEE9DA;
    font-size: 20px;
    text-align: justify;
}

.socialNetwork {
    display: flex;
    justify-content: space-between;
    width: 260px;
    margin-inline: auto;
}

.socialNetwork a {
    text-decoration: none;
}

.socialNetwork i:hover {
    color: #93BFCF;
}

.socialNetwork i {
    font-size: 50px;
    color: #EEE9DA;
}

.whoAmI {
    border: 10px solid #BDCDD6;
    width: auto;
    margin-block-start: 25px;
    margin-block-end: 25px;
    padding: 25px;
    text-align: center;
    width: 600px;
    margin-inline: auto;
}

.whoAmI span {
    font-family: monospace;
    font-weight: bold;
    font-size: 28px;
    color: #EEE9DA;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -21px;
    background-color: rgb(231, 228, 228);
    border: 8px solid #93BFCF;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -20px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #f1f1ff;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 30px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Date from a time box */
.timeline-date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* The career title */
.timeline-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Company description or name*/
.timeline-company {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 10px;
}

/* Technologies used in the company */
.timeline-techs {
    font-family: monospace;
    font-size: 10px;
    font-weight: bolder;
}

/* Text in the description part */
.timeline-description {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Divisão de tempo com localização ou outras observações */
.sign {
    padding: 20px 30px;
    display: block;
    width: 200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    border-radius: 5%;
    z-index: 3;
    border-color: #EEE9DA;
    border-style: solid;
    border-width: 3px;
    color: #EEE9DA;
    border-radius: 10px;
    font-weight: bolder;
    font-family: "Maven Pro";
    margin-bottom: 20px;
    text-transform: uppercase;
}

.sign.status {
    background-color: #EEE9DA;
    color: #6096B4;
    border-color: #EEE9DA;
}

.portfolio {
    margin-inline: auto;
}

.portfolio h2 {
    border: 10px solid #BDCDD6;
    width: auto;
    margin-block-start: 25px;
    margin-block-end: 25px;
    padding: 25px;
    text-align: center;
    width: 600px;
    margin-inline: auto;
}

.portfolio button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #6096B4;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.portfolio button:hover {
    background-color: #93BFCF;
}

.cardsProjects {
    width: 900px;
    margin-inline: auto;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer i {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-inline: auto;
    margin-block-start: 25px;
    margin-block-end: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EEE9DA;
    font-size: 20px;
    text-align: justify;
}